* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;      
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;   
}
.container-app {   
    display: flex;    
    position: relative;
    height: 100%;
}
.menu {        
    width: 20%;
    background: #eee;    
    text-align: center;   
    position: fixed;
    height: 100%;
}
.hero {    
    width: 80%;   
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    height: auto;
}
.menu ul {
    padding: 0;
    margin: 0;
    height: 100%;
    padding-top: 50px;  
    position: relative;  
}
.menu ul li {
    display: block;
    width: 100%;
    margin: 0;    
}
.link {
    text-decoration: none;  
    text-align: left; 
    color: black;     
    width: 100%;
    display: inline-block;
    margin: 0;    
    padding: 10px 15px;
}
.link:hover {  
    background: #ddd;
    text-decoration: none;
    color: black;
}
.link.line:hover {
    background: transparent;
}
.link-user-info {    
    position: absolute;
    bottom: 0;
    left: 0;    
    cursor: pointer;
    padding: 10px 15px;
}
.link.last {    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}
.link.last:hover {
    background: transparent;
}
.link.last p {    
    margin-bottom: 0;   
    font-size: 14px;   
}
.link img {
    height: 30px;
    width: 30px;
    margin: 0;
    margin-right: 10px;
}
.link.new {    
    margin-bottom: 20px;
    background: #ddd;    
    font-weight: bold;
}
.hero-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}
.logo {
    height: 40px;
}
.title {     
    margin: 0;
    margin-left: 10px;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5;
}
.section {    
    margin-top: 15px;
}
.button-add {
    position: fixed;
    width: 55px;
    height: 55px;    
    background: rgb(51, 103, 214) !important;
    color: white;
    display: block;
    margin: 0 !important;    
    padding: 0;
    text-align: center;
    line-height: 55px;
    bottom: 20px;
    right: 20px;
    border-radius: 100% !important;
    font-size: 32px;
    z-index: 2;
    text-decoration: none;
}
.button-add:hover {
    text-decoration: inherit;
    color: white;
}
.data-item {
    display: flex;
    justify-content: space-between;
    border: solid 1px #ddd;
    background: #ddd;
    padding: 15px 15px;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: bold;
}
.item-actions {    
    text-align: center;
    margin-top: 10px;
}
.item-actions a {
    font-weight: normal;
    color: rgb(51, 103, 214);
    cursor: pointer;   
    text-decoration: none; 
}
.form-alta input, .form-alta select, .form-alta button {
    display: block;    
    width: 70%;
    height: 30px;
    margin: 15px auto;
    padding-left: 10px;
    font-size: 1em;
}
.form-modificacion input, .form-modificacion select, .form-modificacion button {
    display: block;    
    width: 70%;
    height: 30px;
    margin: 15px auto;
    padding-left: 10px;
    font-size: 1em;
}
.button-submit {
    background: rgb(51, 103, 214);
    border: none;
    color: white;
    cursor: pointer;    
}
.button-cancel {
    background: #6c757d;
    border: none;
    color: white;
    cursor: pointer; 
}

/* Layout Grid */
.data {    
    padding: 0;    
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-start;    
}
.item {
    background: #eee;
    width: 24%;      
    box-sizing: border-box;                      
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 15px 0;
    padding-bottom: 10px;
    border-radius: 12px;
}
.imageContainer {   
    margin: 0;    
    text-align: center;
}
.item-img {  
    height: 75px;     
}
.item-details {
    margin: 10px 0;
}
.item-details p {
    padding: 5px 5px; 
    margin: 0;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .menu {
        display: none !important;
    }
    .hero {
        width: 100%;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;        
    }
    .hero-title {
        justify-content: center;
    }
    .item {                
        width: 47%;
        margin: 0 1.5% 10px 1.5%;        
    }
    .item-img {
        height: 65px;
    }
    .item-details p {
        padding: 0;
    }
}